.button {
    width: 100%;
    display: flex;
    align-items: center;  /* Выровняет текст и иконку */
    justify-content: center;
    gap: 10px;  /* Отступ между иконкой и текстом */
    border: none;
    background: white;
    height: 40px;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 15px;
    font-size: 16px;
}

.button:hover {
    transition: .4s;
    background: rgba(154, 152, 152, 0.47);
}

.button:hover .icon {
    color: white;
}

.button:active {
    background: rgba(191, 191, 191, 0.33);
    transition: .0s;
}

.button:focus {
    outline: none;
}

.label {
    color: #a3a5ac;
}

