.div {
    width: 40em;
    height: 30em;
    border-radius: 10px;
    align-items: center;
    align-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.form {
    align-items: center;
    align-self: center;
}


.headerDiv {
    width: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    height: 20%;
}

.header {
    margin-left: 5%;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
    min-height: 1.2em; /* зарезервировано место даже без текста */
    visibility: hidden;
}

.error.visible {
    visibility: visible;
}

.inputs {
    width: 100%;
    height: 35%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.buttons {
    margin-top: 5%;
    width: 90%;
    height: 35%;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5%
}