.mainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 24px;
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;  /* Это гарантирует, что элементы будут расположены по краям */
    width: 100%;  /* Убедимся, что контейнер имеет полную ширину */
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    color: black;
}

.list {
    width: 100%;
    display: flex;

    flex-direction: column;
}