.button {
    border: solid rgba(163, 165, 172, 0.51) 2px;
    background: white;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;       /* Задай нужный размер */
    height: 40px;
    overflow: hidden;  /* Важно: обрезает всё, что выходит за границы */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет и обрезает */
    display: block;
}